BEVHeight_Plus.egg-info/
outputs/
nuscense_bevheight_plus/work_dirs/
nuscense_bevheight_plus/work_dirs
nuscense_bevheight_plus/data/
nuscense_bevheight_plus/pretrained_model/
data/
CodeBase/BEVHeight/outputs
CodeBase/BEVHeight/build
CodeBase/OpenCOOD/opencood/logs/
CodeBase/BEVHeight/BEVHeight.egg-info/
CodeBase/OpenCOOD/OpenCOOD.egg-info/
__pycache__/
ckpt/
build/
hub/
data/
*.out
*.so
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz